@tailwind base;
@tailwind components;
@tailwind utilities;

 @import url('Https://fonts.googleapis.com/css2?family=Poppins');
 @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-color: #010104;
    background: radial-gradient(circle, #020024 -10%, #010104 100%);
    scroll-behavior: smooth;
    /* font-family: 'Poppins', sans-serif; */
}
#motto{
    font-family: "Lora",serif;
    font-style: italic;
}

button:hover{
    /* background: radial-gradient(circle, #020024 -10%, #010104 100%); */
    border: white solid 1px;
}



.text-div{
    width: 550px;
    height: 300px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 5px;
}

footer{
    height: 200px;
}